<h4>Question: {{ @SESSION.answered_questions + 1 }} / {{ @max_questions }}</h4>
<p>Current score: {{ @SESSION.current_score }}</p>
<div id="question-select">
    <p>Select a difficulty score:</p>
    <repeat group="{{ @scores }}" value="{{ @item }}">
        <button
            hx-post="select-difficulty"
            hx-trigger="click"
            hx-target="#question-select"
            hx-swap="outerHTML"
            name="score"
            value="{{ @item.score }}"
        >
        {{ @item.score }}
        </button>
    </repeat>
</div>
