<div id="question-body">
    <p>For {{ @SESSION.question.score }} points:</p>
    <p>Name a player from {{ @SESSION.question.team }} that has scored at {{ @SESSION.question.ground }}, and the season they scored in.</p>
    <form hx-post="/answer" hx-target="this" hx-swap="outerHTML">
        <input type="hidden" name="id" value="{{ @SESSION.question.id }}" />
        <input
            type="text"
            name="player"
            placeholder="Player name"
            list="player-list"
            hx-post="/search-player"
            hx-trigger="input changed delay:500ms"
            hx-target="#player-list"
            hx-swap="innerHTML"
            minlength="1"
            required
        />
        <datalist id="player-list"></datalist>
        <select name="season">
            <repeat group="{{ @seasons }}" value="{{ @item }}">
                <option value="{{ @item.season }}">{{ @item.season }}</option>
            </repeat>
        </select>
        <button type="submit">Submit Answer</button>
    </form>
</div>
