<div>
    <p>Name a player from {{ @question.team }} that has scored at {{ @question.ground }}, and the season they scored in.</p>
    <span id="search-indicator" class="htmx-indicator">
        Searching...
    </span>
    <input
        type="search"
        name="search"
        placeholder="Search for player..."
        hx-post="/search"
        hx-trigger="input changed delay:500ms, search"
        hx-target="#search-results"
        hx-indicator="#search-indicator"
    />
    <table>
        <thead>
            <th>Name</th>
        </thead>
        <tbody id="search-results">

        </tbody>
    </table>
</div>
